/*
.##.....##.########.########..########..####.##......##.########....###....########.##.....##.########.########.
.###...###.##.......##.....##.##.....##..##..##..##..##.##.........##.##......##....##.....##.##.......##.....##
.####.####.##.......##.....##.##.....##..##..##..##..##.##........##...##.....##....##.....##.##.......##.....##
.##.###.##.######...########..########...##..##..##..##.######...##.....##....##....#########.######...########.
.##.....##.##.......##...##...##...##....##..##..##..##.##.......#########....##....##.....##.##.......##...##..
.##.....##.##.......##....##..##....##...##..##..##..##.##.......##.....##....##....##.....##.##.......##....##.
.##.....##.########.##.....##.##.....##.####..###..###..########.##.....##....##....##.....##.########.##.....##
*/
@font-face {
    font-family: Merriweather-light;
    src: url('../fonts/Merriweather/Merriweather-Light.ttf');;    
    font-weight: 300;
  }
  @font-face { 
    font-family: Merriweather-regular;
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf');;
    font-weight: 400;
  }
  @font-face { 
    font-family: Merriweather-bold;
    src: url('../fonts/Merriweather/Merriweather-Bold.ttf');;
    font-weight: 700;
  }
  
  /*
  .##.....##....###....########..########....###...
  .##.....##...##.##...##.....##....##......##.##..
  .##.....##..##...##..##.....##....##.....##...##.
  .##.....##.##.....##.########.....##....##.....##
  ..##...##..#########.##...##......##....#########
  ...##.##...##.....##.##....##.....##....##.....##
  ....###....##.....##.##.....##....##....##.....##
  */
  @font-face {
    font-family: Varta-light;
    src: url('../fonts/Varta/Varta-Light.ttf');
    font-weight: 300;
  }
  @font-face {  
    font-family: Varta-regular;
    src: url('../fonts/Varta/Varta-Regular.ttf');
    font-weight: 400;
  }
  @font-face { 
    font-family: Varta-semibold;
    src: url('../fonts/Varta/Varta-SemiBold.ttf');
    font-weight: 600;
  }
  @font-face { 
    font-family: Varta-bold;
    src: url('../fonts/Varta/Varta-Bold.ttf');;
    font-weight: 700;
  }

  /*
  .##....##....###....########..##..........###...
  .##...##....##.##...##.....##.##.........##.##..
  .##..##....##...##..##.....##.##........##...##.
  .#####....##.....##.########..##.......##.....##
  .##..##...#########.##...##...##.......#########
  .##...##..##.....##.##....##..##.......##.....##
  .##....##.##.....##.##.....##.########.##.....##
  */
  @font-face {
    font-family: Karla-bold;
    src: url('../res/fonts/Karla/Karla-Bold.ttf');
    font-weight: 700;
  }